<h1>Articles#show<%= @tt %></h1>
<p>Find me in app/views/articles/show.html.erb</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.content %>
</p>